body{
background-color:#222324;
}

.diagonal-box {
	background-image: linear-gradient(45deg, #00dcff, #1A1A69);
	font-family:Helvetica, Arial, sans-serif;
	color:white;
	transform: skewY(-21deg);
	border-style:groove;
}
.content {
	max-width: 50em;
    margin: 0 auto;
    transform: skewY(21deg);
    font-size:250px
    transform: rotate(6deg);
    font-size:65px;
}

h1{
padding-top:50px;
margin:12;
bottom:100px;
right:10px;
padding-left:15px;
z-index:2;

}

.trans-box {
  width: 81%;
  border: 7.5px solid #f4f4f4;
  border-style:ridge;
  border-top:7.5px;
  border-left:0px;
  background-color:#f4f4f4;
  padding:60px;
  padding-right:1px;
  padding-left:90px;
  margin-left:25px;
  margin-right:35px;
  margin-bottom:50px;
  position:absolute;
  top: 50px;
  right: 100px;
  left:-15px;
  width: 875px;
  height: 35px;
  bottom:110px;
  opacity:0.85;
  z-index:1;
  float:bottom;

}

.cyber-title{
z-index:2;
position:relative;
}

.cyber-img{
float:right;
float:bottom;
bottom:12px;
top:24px;
padding-bottom:-24px;
}

.desc{
font-family:Helvetica, Arial, sans-serif;
font-size:36px;
float:top;
padding-bottom:48px;
margin:24px;
margin-bottom:-95px;
padding-top:-30px;
font-weight:100;
-webkit-font-smoothing: antialiased;
font-family:Helvetica, Arial, sans-serif;
}

.buttons{
padding: 10px 20px;
overflow:hidden;
position:relative;
transition:0.7s;
position:relative;
}

.buttons i{
line-height:90px;
font-size:46px;
transition:0.2s linear;
color:#222324;
}


.github-btn, .discord-btn{
margin: 10px;
height:90px;
width:90px;
display:inline-block;
font-size:45px;
border-radius:30%;
border: 0px solid white;
box-shadow: 0 5px 15px #00000070;
}

.invite-btn{
display:inline-block;
font-size:25px;
border: 0px solid white;
box-shadow: 0 5px 15px #00000070;
height:100px;
width:200px;
float:top;
border-radius:5%;
margin:10px;
color:#222324;
font-family:Verdana;
}

.github-btn:hover i, .discord-btn:hover i{
transform: scale(1.66)
}

.github-btn:hover, .discord-btn:hover, .invite-btn:hover{
background:#222324;
}

.github-btn:hover i, .discord-btn:hover i, .invite-btn:hover{
color:white;
}